<div>
    <h2>{{ title }}</h2>
</div>

<div class="content">
    <section fxLayout="row wrap" fxLayoutAlign="center center">

        <mat-card [fxFlex]="cardWidth" fxFlex.xs="100%">
            <mat-card-title>Professor</mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card>


        <mat-card [fxFlex]="cardWidth" fxFlex.xs="100%">
            <mat-card-title>Mohammad Alam, PhD</mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card>

        <mat-card [fxFlex]="cardWidth" fxFlex.xs="100%">
            <mat-card-title>Mohammed E Hoque</mat-card-title>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </section>
</div>