<div>
  <h2>{{ title }}</h2>
</div>

<div class="home-content">
  <section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card [fxFlex]="cardWidth" fxFlex.xs="100%">
      <mat-card-title>Welcome</mat-card-title>
      <mat-card-content>
        <p>
          Very important content
        </p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
        <button mat-raised-button color="accent" (click)="clickMe()">
          Click Me
        </button>
      </mat-card-actions>
    </mat-card>
  </section>

  <br />
  <section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card [fxFlex]="cardWidth" fxFlex.xs="100%">
      <mat-card-title>Important Content</mat-card-title>
      <mat-card-content>
        <span *ngFor="let content of fillerContent">{{content}}</span>
      </mat-card-content>
    </mat-card>
  </section>
</div>